.env
*.log
*.exe
*.out
*.test
vendor/
node_modules/
*.swp
*.bak
*.tmp
*.DS_Store
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.iml
*.class
*.jar
*.war
*.ear
*.pyc
*.pyo
*.pyd
*.egg-info/
*.eggs/
*.coverage
*.tox/
*.nox/
*.pytest_cache/
*.mypy_cache/
*.hypothesis/
*.ipynb_checkpoints/
*.ipynb
.Rproj.user/
.Rhistory
.RData
.Ruserdata/
.Rproj/
